@charset "UTF-8";

.carousel-item > img{
	height: 300px;
}

.card > img{
	height : 150px;
	width : 100%;
}

.pp{
	height : 22rem;
	width : 100%;
	overflow:hidden;
	
	
}

.dd{
	overflow:hidden;
}

.dd:hover{
	overflow:visible;
	
}
