@charset "UTF-8";

h1{ 
	padding: 30px 30px 30px 50px; 
	margin-top: 40px;	
}

.idCls {
	color: gray;
	font-size: 15px;
	
	padding: 10px 30px 30px 50px;
}

.contentCls {
	margin: 50px;
	font-size: 19px;
}

.imgCls {   
	margin: 50px 0;   
	height: 500px;
	width: 650px;  
	  
	display: block; 
    margin-left: auto;
    margin-right: auto;
}

.likeCls{
	padding: 30px 200px 15px 50px;
}

table{
	margin: 10px 50px 20px 50px;
	font-size: 17px;
	width: 790px;
}

th, td {
	padding: 5px;
	text-align: left;
}

tr {
	margin-bottom: 10px; 
} 

hr {
	width:90%;
}
 
#dot{
	height: 30px;
    width: 30px;
    border-radius: 50%;
    display: inline-block; 
}

.commDeleteBtn {
	border: none;
}

.commDeleteBtn:hover{
	background-color: #e0ebeb;
}

.comDeleteImg { 
	width: 30px;
	height: 30px; 
}

.commentInsertCls{
	margin: 20px 100px;
}

#commentContent {
	color: gray; 
	font-size:16px;  
	
	background-color: #F0F8FF;
	border: 1px solid lightgrey; 
	border-radius: 20px;  
	box-sizing: content-box;
	height: 30px; 
	width: 590px; 
	padding: 5px 5px 5px 15px; 
} 

#commInsertBtn {
	color: white; 
	font-size:14px; 
	
	background-color: rgb(184, 194, 211);
	border: 1px solid lightgrey; 
	border-radius: 40px;  
	box-sizing: content-box;
	padding: 5px;
	height: 30px;
	width: 50px; 
	margin-left:10px; 
} 

#commInsertBtn:hover { 
	background-color: rgb(145, 156, 173);
}

#btnList{
	margin: 30px 50px;
	border: none; 
}

#btnList:hover{
	background-color: #e0ebeb;
}

#btnRecommend{
/* 	<button type="submit" style="border: 0; background: transparent"> */
/*     <img src="/images/Btn.PNG" width="90" height="50" alt="submit" /> */
/* </button> */ 
}


